.postList{
     margin: 0 auto;
     border-radius: 3px;
  .contentheader{
    padding-left:2px;
    padding-right: 2px;
     height: 40px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
    .left{
      .title{
          text-align: center;
          font-size: 16px;

      }
    }
    .right{
       .input{
         outline: none;
         height: 10px;
         width: 100px;
         padding: 2px 6px;
         margin-right: 10px;
         border: 1px solid #fff;
         border-radius: 3px;
         font-size: 6px;
       }
        .btn{
          outline: none;
          background: #6bc30d;
          color: #fff;
          font-size: 10px;
          border-radius: 3px;
        }

    }

}




}
