.postView{
  width: 100%;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  .viewheader{
     font-size: 12px;
   }
  .viewinfo{
    height: 20px;
    line-height: 20px;
    .avatorurl{
      width: 20px;
      height: 20px;
      border-radius:100%;
    }
    .title{
      font-size: 16px;
    }

  }
  .viewcontent{
    font-size: 10px;
  }
  .like{
    margin-top: 10px;
    .vote{
      cursor: pointer;
      font-size: 14px;
      color: white;
      margin-right: 6px;
    }
    .active{
      cursor: pointer;
      font-size: 14px;
      color: red;
      margin-right: 6px;
    }
    .votetitle{
      font-size: 14px;
      color: white;
    }
  }

}
